body {
  font-family: "Bebas Neue", cursive !important;
  margin: 0;
  background-color: #2f2f2f;
}

.home {
  position: relative;
  height: 115vh;
}
.home .navbar-brand {
  font-size: 1.6em;
}
.home .navbar {
  padding: 20px;
  opacity: 70%;
  font-size: 1.5em;
}
.home .dropdown-menu {
  font-size: 1em;
}
.home .home__heading {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70%;
  text-align: center;
  font-size: 70px;
  word-spacing: 10px;
  color: #fafafa;
}
.home svg {
  text-align: center;
}

.home::before {
  content: "";
  background: url(images/ysky.jpeg) no-repeat center;
  background-color: black;
  background-size: cover;
  height: 120%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 50%;
}

.about-section {
  overflow-x: clip;
  background-color: #c8a186;
}

.about-content {
  text-align: center;
  padding: 10% 10% 10% 10%;
  background-color: #fafafa;
  border-radius: 50% 50% 50% 50%;
  transform: scaleX(1.28) translate(0, -20%);
}
.about-content h2 {
  padding: 30px 0 10px 0;
}
.about-content p {
  margin: auto;
  padding: 10% 0 15% 0;
  width: 65%;
}
.about-content .icon {
  margin: auto;
  opacity: 20%;
  padding-top: 20px;
}

.services {
  background-color: #c8a186;
  height: 115vh;
}
.services h2 {
  margin-bottom: 10%;
  text-align: center;
  font-size: 42px;
}
.services .icon {
  text-align: center;
  opacity: 50%;
  padding: 20px 0 20px 0;
}
.services .services-container {
  font-size: 1.5em;
  margin-top: 30px;
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-column-gap: 5%;
  justify-content: center;
}

.services-container__offering {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 25px 0px, rgba(0, 0, 0, 0.4) 0px 0px 1px 0px;
  border: 6px solid burlywood;
  width: 100%;
  height: 80%;
  border-radius: 15px;
}
.services-container__offering div {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 10px;
}

.services-container__offering:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px, rgba(0, 0, 0, 0.4) 0px 0px 1px 0px;
}

.contact {
  background-color: #2f2f2f;
  color: #fafafa;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact h3 {
  margin: 35px;
}
.contact .contact-info {
  margin-top: 2%;
  height: 400%;
  text-align: center;
  font-size: 1.3em;
}
.contact #map {
  height: 400px;
  width: 20%;
}
.contact cite {
  background-color: #fafafa;
  color: #2f2f2f;
  padding-top: 15px;
  width: 100%;
  height: 80%;
  text-align: center;
}

@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}