body {
  margin: 0;
  background-color: #2f2f2f;
  color: cornsilk;
  font-family: "Nunito", sans-serif;
}

.home {
  position: relative;
  height: 100vh;
}
.home .navbar {
  padding: 20px;
  opacity: 70%;
}
.home .home__heading {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 90px;
  word-spacing: 20px;
  color: #fafafa;
}

.home::before {
  content: "";
  background: url(images/cameraman.jpg) no-repeat center;
  background-size: cover;
  height: 110vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 70%;
}

.about-section {
  text-align: center;
  position: relative;
  top: -90px;
  height: 70vh;
  background-color: #fafafa;
  border-radius: 40% 40% 40% 40%;
  transform: scaleX(1.1);
}
.about-section h2 {
  padding: 30px 0 10px 0;
}
.about-section h2 .underline {
  margin: auto;
  opacity: 20%;
  padding-top: 20px;
}
.about-section p {
  margin: auto;
  padding-top: 30px;
  width: 65%;
}

.services-container {
  background-color: #d8d82a;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 85px;
  justify-content: center;
}

#service-rent {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  align-self: center;
  animation-name: block-1;
  animation-duration: 2s;
}

#service-shoot {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  align-self: center;
}

#service-edit {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  align-self: center;
}

#service-product {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  align-self: center;
}