body {
  margin: 0;
  background-color: #2f2f2f;
  color: cornsilk;
}

main {
  background-color: #2f2f2f;
}

.home {
  position: relative;
  height: 100vh;
}
.home .navbar {
  padding: 20px;
  opacity: 70%;
}
.home .home__heading {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 90px;
  word-spacing: 20px;
  color: #fafafa;
}

.home::before {
  content: "";
  background: url(images/cameraman.jpg) no-repeat center;
  background-size: cover;
  height: 110vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 70%;
}

.about {
  text-align: center;
  position: relative;
  top: -90px;
  height: 70vh;
  background-color: #fafafa;
  border-radius: 50% 50% 50% 50%;
}
.about h2 {
  padding: 30px 0 10px 0;
}
.about p {
  margin: auto;
  padding-top: 30px;
  width: 65%;
}

.icon {
  margin: auto;
  opacity: 20%;
  padding-top: 20px;
}

.services {
  background-color: #d8d82a;
  height: 90vh;
}
.services h2 {
  text-align: center;
}
.services .services-container {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 85px;
  justify-content: center;
  align-items: center;
}
.services .services-container div {
  background-color: whitesmoke;
  width: 100%;
  height: 40%;
  align-self: center;
  border-radius: 10px;
}

.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}